.featured-toast {
  text-align: center;
  margin: 50px 20vw;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  border-radius: 30px;
}

.featured-toast__img-wrapper {
  display: flex;
  justify-content: center;
}

.featured-toast img {
  max-height: 50vh;
  border-radius: 30px;
}