header {
  height: 72px;
  font-size: 48px;
  padding-top: 20px;
  text-align: center;
  color: #e5c955;
  background-color: #c24242;
}

.navbar__links {
  display: flex;
  justify-content: center;
  background-color: #e5c955;
}

.navbar__links a {
  width: 85px;
  padding: 10px 10px;
  margin: 10px 20px 10px;
  text-align: center;
  font-size: 20px;
  color: #c24242;
  cursor: pointer;
}
.navbar__links a:hover {
  color: #78290f;
  transform: scale(1.1);
}
.navbar__links a.active {
  color: #78290f;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}

@media screen and (max-width: 600px) {
  header {
    font-size: 36px;
  }
}

@media screen and (max-width: 400px) {
  header {
    font-size: 30px;
  }
}