.new-recipe-form{
    text-align: center;
    padding: 1rem 1rem;
}

.new-recipe-form h1 {
    margin: 10px 0px;
}

.new-recipe-form__form {
    display: flex;
    justify-content: center;
}

.new-recipe-form input {
    margin-right: 2rem;
    flex: 1;
}

.form-button {
    margin: 5px;
    width: 100px;
    background-color: #703642;
    color: white;
    font-family: monospace;
    border-radius: 30px; 
}

