.toastimonials {
  background-color: #987456;
  text-align: center;
  margin: 50px 20vw;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  border-radius: 30px;
}

.item__text {
  background-color: #987456;
  margin-top: 0px;
}